{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="text-danger">
                            {% for error in form.username.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        <small class="form-text text-muted">Required. Maximum 150 characters.</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="text-danger">
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        <small class="form-text text-muted">Required. Valid email address.</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    {% if form.password1.errors %}
                        <div class="text-danger">
                            {% for error in form.password1.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        <small class="form-text text-muted">Required. Must match the confirmation password.</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="#">Sign In</a>
            </small>
        </div>
    </div>
{% endblock %}
